<div id="badge" class="container container-slim text-center">
    <div class="text-center">
        <h3>BADGES</h3>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="4000" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-md-2 col-md-offset-0 col-sm-4 col-xs-12 col-xs-offset-1"><a href="#"><img src="~/images/mcsa.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-2 col-md-offset-0 col-sm-4 col-xs-12 col-xs-offset-1"><a href="#"><img src="~/images/architect.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-2 col-md-offset-0 col-sm-4 col-xs-12 col-xs-offset-1"><a href="#"><img src="~/images/developer.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-2 col-md-offset-0 col-sm-4 col-xs-12 col-xs-offset-1"><a href="#"><img src="~/images/wcf.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-2 col-md-offset-0 col-sm-4 col-xs-12 col-xs-offset-1"><a href="#"><img src="~/images/windows.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-2 col-md-offset-0 col-sm-4 col-xs-12 col-xs-offset-1"><a href="#"><img src="~/images/itil.png" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-2 col-md-offset-0 col-sm-4 col-xs-12 col-xs-offset-2"><a href="#"><img src="~/images/sigma.png" class="img-responsive"></a></div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
</div>
