<div id="home" class="intro bg-image" style="background-image:url(https://localhost:44340/images/me.JPG)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container-fluid">
                <p class="intro-title mb-4">I'm Arghya Chowdhury</p>
                <p class="intro-subtitle">
                    <span class="text-slider-items">Azure Developer,Architect,Full Stack Developer,Lead</span>
                    <strong class="text-slider"></strong>
                </p>
            </div>
        </div>
    </div>
</div>
