@{
    Layout = "";
 }
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arghya Chowdhury - Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div id="home" class="intro bg-image">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <p class="intro-subtitle">
                        <span class="text-slider-items">OOPs!,Something went wrong</span>
                        <strong class="text-slider"></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.counterup.js"></script>
    <script src="~/js/typed.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>

