<div id="contact" class="container-fluid">
    <h3 class="text-center">CONTACT</h3>
    <div class="row text-center">
        <div>
            <p>Thank you for your post. I'll contact with you shortly.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span>London, United Kingdom</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +44 7438967872</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: arghya.ch.uk@gmail.com</p>
        </div>
    </div>
</div>
